---
:twitter_consumer_key: aLiteralconsumerKey
:twitter_consumer_secret: shhhSecret123
:twitter_access_token: tokenTokenTOKEN
:twitter_token_secret: tokensSECRET
:mastodon_url: https://mastodon.social
:mastodon_token: accessingMastodon

# add words underneath here (as shown) to filter posts
# e.g. '- word1' will not crosspost any mastodon post containing 'word1'
:filter:
#- word1
#- word2
#- word3

# this value can be any of the following:
#  public, unlisted, private, direct
#
# it will only crosspost posts that have the privacy
#  level indicated, or higher.
#
# e.g. 'unlisted' will crosspost 'public' and 'unlisted'
#      'private' will crosspost 'public', 'unlisted', and 'private'
:privacy_level: public

# the crossposter saves post IDs in the background so 
#  we can keep track of replies
# set this number to manually set the amount of saved ids
:max_ids: 200

# if you make a toot that is not a reply, but has a mention
#  setting this to true will sub out the mention for a link
#  to the user's account and then crosspost it
#         ******************NOTE******************
#  please be respectful of other's privacy when using this option<3
:crosspost_mentions: false